/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * birch-std:
 *   - http://typekit.com/eulas/00000000000000000001300a
 *
 * Â© 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-11-14 20:41:41 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=nvt7zrs&ht=tk&f=18156&a=22009685&app=typekit&e=css");

@font-face {
font-family:"birch-std";
src:url("https://use.typekit.net/af/8c4723/00000000000000000001300a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8c4723/00000000000000000001300a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8c4723/00000000000000000001300a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-birch-std { font-family: "birch-std",serif; }
